// stylus 全局常量定义

$page-width = 1200px  //页面宽度

$page-height = 100vh  //页面高度

$layout-header-height = 100px  //顶部高度

$layout-nav-height = 100px  //设置导航条高度

// color

$blue = #009FF0
$yellow = #FF9004
$gray = #A7A7A7

$font-yellow = #FF6C04
$font-333 = #333
$font-96 = #969696
$font-5f = #5F5F5F

